<div><%= "#{@pet.name} the #{@pet.species}" %></div>
<div><%= Time.new.year - @pet.year_of_birth %><div>
<% if @pet.good_with_kids %>
    <div><%= "Good with children" %></div>
    <% else %>
        <div><%= "Prefers a home without children" %></div>
    <% end %>
<div><%= link_to "back to index", pets_path %></div>
<%= image_tag(@pet.picture_url, :alt => @pet.name) %>